@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

body, html{
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1{
    padding: 0;
    font-weight: 700;
    margin-bottom: -10px;
}

h2 {
    color: white;
    font-weight: 400;
    padding-top: 0;
}
.centro{
    text-align: center;
    margin-top: 60px;
}
p{
    font-size: 1.5rem;
}

.container{
    display: flex;
    text-align: center;
    margin-bottom: 4em;
    justify-content: space-between;
}

/* .container{
    display: grid;
    grid-template-columns:auto auto auto;
    max-width: auto;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
} */
a{
    text-decoration: none;
    color: white;
}
.button{
width: 150px;
border: 1px solid white;
text-align: center; 
padding-top: 10px;
padding-bottom: 10px;
margin: auto;
width: 180px;
}

h3{
    font-size: 3rem;
    font-weight: 400;
}
/*grafico*/
.contenitore-grafico{
    height: 300px;
    width: 300px;

}


